/***
	$Id$
	Module Specific Style
***/

/*** TRACKER ***/
#tracker table {
	border-collapse: collapse;
	}

#tracker td {
	vertical-align: top;
	padding: 1em;
	}

#tracker td ul {
	margin-top: 0;
	margin-bottom: 0;
	}

#tracker td ul a {
	font-weight: normal;
	}

#tracker th {
	text-align: left;
	padding: 0.25em 1em 0.25em 0em;
	}

#tracker table { width: 99%; }
#tracker th { text-align: left; border-bottom: 1px solid #ddd; }
#tracker tr.light, #tracker tr.dark { background-color: transparent; }
#tracker td { vertical-align: top; padding: 1em 1em 1em 0; border-bottom: 1px solid #ddd; }


/*** CALENDER ***/
.calendar .row-week td a {
	display: block;
	}

.calendar a { text-decoration: none; }
.calendar td { padding: 0; border-color: #888; }
.calendar td div { padding: 0.4em 0; }
.calendar .row-week td a { padding: 0.4em 0; }
.calendar .day-today { background-color: #69c; }
.calendar .day-normal { background-color: #ddd; }
.calendar .day-future { background-color: #eee; }
.calendar .day-today { background-color: #7ad; }
.calendar .day-today a { color: #fff; }
.calendar .day-selected { background-color: #7ad; color: #fff; }
.calendar .header-month { background-color: #eee; }
.calendar .header-week { }
.calendar .day-blank { background: none; }
.calendar .row-week td a:hover { background-color: #7ad; color: #000; }

/*** POLL ***/
#content .poll {
	margin: 0.5em;
	padding: 0.5em;
	border: #ccc solid 1px;
	}

#sidebar .poll { }

.poll-title {
	font-weight: bold;
	padding-bottom: 0.3em;
	margin-bottom: 0.4em;
	border-bottom: #ccc solid 1px;
	}

.poll .text {
	margin-bottom: 0.3em;
	font-size: 0.8em;
	font-weight: bold;
	}

.poll .percent {
	padding-bottom: 0.3em;
	margin-bottom: 0.4em;
	border-bottom: #ccc dashed 1px;
	font-size: 0.8em;
	}

.poll .total { font-size: 0.8em; }
.poll .bar { }

.poll .bar .foreground {
	height: 5px;
	background-color: #aaa;
	border: #ccc solid 1px;
	}

.poll .bar .background { }
.poll .vote-form { font-size: 0.8em; }

/*** BOOK STYLE ***/
.book .title {
	font-weight: bold;
	font-size: 1em;
	margin-bottom:1em;
	}

/*** FORUM STYLE ***/
div#forum table {
	width: 100%;
	margin-bottom: 1em;
	}

#forum td {
	padding: 0.5em 0.5em 0.5em 0.5em;
	line-height: 1.2em;
	}

#forum td.statistics, #forum td.settings, #forum td.pager {
	height: 1.5em;
	border: 1px solid #bbb;
	}

#forum td.created, #forum td.posts, #forum td.topics, #forum td.last-reply, #forum td.replies, #forum td.pager {
	white-space: nowrap;
	}

#forum td.posts, #forum td.topics, #forum td.replies, #forum td.pager {
	text-align: center;
	}

div#forum table .topics,
div#forum table .posts,
div#forum table .last-reply {
	font-size: 0.8em;
	width: 5%;
	}

div#forum table .name,
div#forum table .description,
div#forum table .navigation {
	margin: 0;
	}

div#forum table th {
	white-space: nowrap;
	}

div#forum table .name {
	font-size: 1.2em; margin: 0.5em;
	font-weight: bold;
	margin: 0;
	}

#forum .description, #forum .navigation {
	font-size: 0.9em;
	margin: 0.5em;
	}

div#forum table .description {
	margin: 0;
	}

div#forum table .navigation {
	font-weight: bold;
	}

div#forum table .topic {
	width: 80%;
	}

div#forum table .icon {
	width: 20px;
	text-align: center;
	}

div#forum a {
	font-weight: bold;
	}

div#forum table .created,
div#forum table .replies {
	font-size: 0.8em;
	width: 5%;
	}
