/***
	$Id$
	General CSS style.
***/
@import "modules.css";
@import "layout.css";

body {
	color: #333;
	background: #fff url(content_bg.png) no-repeat top right;
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 76%;
	}
  
h1 { font-size: 1.2em; }
h2 { font-size: 1.1em; }
h3 { font-size: 1em; font-weight: bold;}
h4, h5, h6 { font-size: 0.9em; font-weight: bold;}
h3 { padding-bottom: 0.2em; margin-bottom: 0; }

p {
	padding: 5px 0;
	margin: 0;
	}

pre {
	background-color: #eee;
	padding: 0.75em 1.5em;
	font-size: 12px;
	border: 1px solid #ddd;
	}

a {
	color: #44c;
	}

a:visited {
	color: #009;
	}

form {
	padding: 0;
	margin: 0;
	}

img { border: 0; }

blockquote {
	border: 0 #ccc solid;
	border-width: 1px 0;
	margin: 0.5em 1em;
	padding: 0.3em;
	font-style: italic;
	}

code {
	font-size: 1em;
	font-family: 'lucida console', 'Courier New', monospace;
	}

.form-submit {
	margin: 0;
	}

.form-item {
  margin: 3px 0;
  padding: 0;
  }
  
.main-content .box .content .form-item textarea {
	width: auto;
	}
  
input.form-text {
	border: solid 1px #999;
	margin: 0;
	padding: 0 5px;
	font-size: 12px;
	}

button.form-submit {
	border: solid 1px #999;
	margin: 0;
	padding: 0;
	font-size: 12px;
	}

.xml-icon {
	text-align: right;
	}
	

/*** ITEM-LIST ***/
.item-list {
	margin: 0.5em 0;
	font-size: 0.9em;
	}

.item-list .icon {
	color: #555;
	padding-left: 0.25em;
	}

.item-list .icon img {
	border: 0;
	}

.item-list .icon a {
	color: #000;
	text-decoration: none;
	}

.item-list .icon a:hover {
	color: #000;
	text-decoration: none;
	}

.item-list .title {
	font-weight: bold;
	}

.item-list ul {
	list-style: none;
	margin: 0.3em 0 0.5em 0;
	padding: 0
	}

.item-list ul.sub-list {
	list-style: none;
	margin: 0 0 0.75em 25px;
	padding: 0
	}

.item-list ul li {
	margin: 0 0 0.25em 1em;
	padding: 0 0 4px 15px;
	line-height: 1.3em;
	background: url(bullet.png) no-repeat 0 4px;
	list-style: none;
	}

.sidebar .item-list ul li {
	margin: 0 0 0.25em 2px;
	list-style: none;
	}

.item-list .title {
	border: 0;
	font-size: 1em;
	}

/*** HEADER ***/
#header {
	background: #47c url(header_bg.png) no-repeat top right;
	border-bottom: solid 1px #48d;
	}

#header img {
  float: left;
  padding: 0;
  margin: 0;
  }
  
#header #search {
  float: right;
  margin: 24px 10px 0;
  padding: 3px;
  border: solid 3px #48d;
  white-space: nowrap;
  }
  
#header #search .form-text {
  margin-right: 3px;
  padding: 3px;
  }
  
#header #search .form-submit {
  padding: 2px;
  }
  
/*** MAIN-NAV ***/
#main-nav {
	border-bottom: solid 1px #999;
	background: #49d url(nav_bg.png) no-repeat top right;
	}

#main-nav li {
  float: left;
	margin: 0; 
	padding: 0;
	display: inline;
	list-style-type: none;
	}

#main-nav a {
	display: block;
	font-size: 10px;
	line-height: 20px;
	margin: 0;
	padding: 0px 10px 0 10px;
	}

#main-nav a {
	font-weight: bold;
	text-decoration: none;
	color: #000;
	background-color: #49d;
	border-right: solid 1px #48d;
	}

#main-nav #current a {
	background: #fff none;
	padding-bottom: 1px;
	margin-bottom: -1px;
	}

#main-nav a:link, 
#main-nav a:visited {
	text-decoration: none;
	}

#main-nav a:hover {
	color: #ccc743;
	background: #fff none;
	}

/** SIDEBAR **/
.sidebar .block {
	margin-bottom: 10px;
	margin-right: 5px;
	}

.sidebar .block h2 {
	padding: 5px;
	margin: 0;
	font-size: 1em;
	background-color: #fafafa;
	border: solid 1px #999;
	border-bottom: none;
	}

.sidebar .block .content {
	padding: 5px;
	margin: 0;
	font-size: 0.9em;
	border: solid 1px #999;
	}

.sidebar .block .content .xml-icon {
	text-align: center;
	}

.sidebar .block-search input.form-text {
	width: 100px;
	padding: 1px;
	margin-right: 5px;
	}

.sidebar .block-search button.form-submit { 
	width: 60px;
	font-size: 12px;
	}

.sidebar .block-archive h2 {
	background: #fafafa url(block_archive.png) no-repeat top right;
	}

.sidebar .block-blog h2 {
	background: #fafafa url(block_blog.png) no-repeat top right;
	}

.sidebar .block-book h2 {
	background: #fafafa url(block_book.png) no-repeat top right;
	}

.sidebar .block-cloud h2,
.sidebar .block-import h2,
.sidebar .block-node h2 {
	background: #fafafa url(block_import.png) no-repeat top right;
	}

.sidebar .block-user h2 {
	background: #fafafa url(block_user.png) no-repeat top right;
	}

.sidebar .block-forum h2 {
	background: #fafafa url(block_forum.png) no-repeat top right;
	}

.sidebar .block-search h2 {
	background: #fafafa url(block_search.png) no-repeat top right;
	}

.sidebar .block-throttle h2 {
	background: #fafafa url(block_error.png) no-repeat top right;
	}

/** MAIN CONTENT **/
.main-content #mission {
	color: #333;
	border: solid 1px #999;
	padding: 5px;
	margin-bottom: 10px;
	background: #fafafa none;
	}

.main-content .node .content, 
.comment .content {
	line-height: 1.5em;
	}

.main-content .node {
	margin-bottom: 10px;
	}

.main-content .node h2 {
	padding: 5px;
	margin: 0;
	font-size: 1em;
	background-color: #fafafa;
	border: solid 1px #999;
	}
  
.main-content .sticky h2 {
	background-color: #ffa;
	}
  
.main-content .node .info {
	padding: 5px;
	margin: 0 10px;
	font-size: 0.9em;
	}

.main-content .node .links {
	padding: 5px 10px;
	margin: 0 10px;
	font-size: 0.9em;
	font-weight: bold;
	}
	
.main-content .links .read-more {
	font-style: italic;
	background: #E1E0D2;
	}

.main-content .node .content {
	padding: 5px 10px;
	margin: 0 10px;
	}

.main-content .box {
	margin-bottom: 10px;
	border: solid 1px #999;
	}

.main-content #content-title {
	padding: 5px;
  margin: 0;
	margin-bottom: 10px;
	border: solid 1px #999;
	font-size: 1em;
	background-color: #fafafa;
	}
  
.main-content .breadcrumb {
	padding: 0px;
	/*padding-bottom: 10px;*/
	margin-bottom: 10px;
	font-size: 1em;
  font-weight: bold; 
	}
  
.main-content .breadcrumb a:firstletter {
  text-transform: uppercase;
	}
  
.main-content .box .content {
	padding: 10px;
	}

.main-content .box h2 {
	padding: 5px;
	margin: 0;
	font-size: 1em;
	background-color: #fafafa;
	border-bottom: solid 1px #999;
	text-align: center;
	}

.main-content #footer {
	margin: 10px 0;
	font-size: 0.9em;
	font-weight: bold;
	color: #aaa;
	}

/*** COMMENT ***/
.comment {
	border: 1px solid #999;
	padding: 1em;
	margin: 0.5em 0 0.5em 0;
	}
  
.comment-folded {
	border: 1px solid #abc;
	padding: 0.5em;
	margin: 0.5em 0 0.5em 0;
	}

.comment-folded .new {
	text-align: right;
	font-weight: bold;
	font-size: 0.8em;
	float: right;
	color: red;
	}
  
.comment-new {
	border: 1px solid #fc0;
	}

.comment .title {
	font-weight: bold;
	font-size: 1.1em;
	color: #777;
	}

.comment .new {
	text-align: right;
	font-weight: bold;
	font-size: 0.8em;
	float: right;
	color: red;
	}

.comment .author {
	color: #999;
	font-size: 0.8em;
	padding-bottom: 1em;
	}

.comment .content {
	padding-top: 0.5em;
	margin-left: 1em;
	}

.comment .links {
	padding-top: 0.5em;
	margin-left: 1em;
	color: #999;
}

/*** MISC ***/
input, textarea {
	background-color: #eeeeee;
	color: inherit;
	border: 1px solid silver;
	}

select {
	background-color: #eeeeee;
	color: inherit;
  margin: 0 5px;
	}

input:focus, textarea:focus {
	background: #fff none;
  border: 1px solid #48d;
	}

.container-inline div {
	display: inline;
	}

h3.form-title {
	text-align: left;
	}

.form-item {
	padding: 0.3em 0;
	}

.form-item textarea {
	width: auto;
	}

form .form-item .title  {
	border: 0;
	margin-bottom: 0.5em;
	padding: 0.3em 0;
	background: none;
	border-bottom: #bbb solid 1px;
	text-align: left;
	color: #777;
	}
	
.form-radio, .form-checkbox {
  background-color: transparent;
  border: 0;
 }

.path a, .path a:visited { color: #777; }

.main-content li {
	padding-bottom: 0.25em;
	}

.marker {
	color: #f00;
	}

.error {
	color: #f00;
	}

.ok {
	color: #080;
	}

#pager {
	text-align: center;
	}

#pager div {
	padding: 0.5em;
	}
	
#help {
  font-size: x-small;
 }

#message {
  padding-left: 2em;
  padding-right: 2em;
  margin: 1em 2em 1em 2em;
  border: solid 1px #999;
  background-color: #fafafa;
}

/*** MENU ***/

li.leaf {
	list-style-type: square;
	}
